In [1]:
%load_ext google.cloud.bigquery

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information from over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 15 years ago. So if today is 2024.05.17 then the weather we want to forecast is for the date 2009.05.18. You are supposed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to use BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck in the first part, you can use the replacement data provided in the second part

In [2]:
%%bigquery 
SELECT CONCAT(
CAST(year AS STRING), '-',
CASE WHEN month < 10 THEN CONCAT('0', CAST(month AS STRING)) ELSE CAST(month AS STRING) END, '-', 
CASE WHEN day < 10 THEN CONCAT('0', CAST(day AS STRING)) ELSE CAST(day AS STRING) END) AS date ,
*
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query is running:   0%|          |

/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2309: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2323: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2337: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)

Downloading:   0%|          |

,date,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,1929-12-11,39800,99999,1929,12,11,45.500000,4,43.500000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
1,1929-12-06,37770,99999,1929,12,6,47.000000,4,41.299999,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
2,1929-12-06,31590,99999,1929,12,6,45.799999,4,38.299999,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
3,1929-11-25,30910,99999,1929,11,25,49.799999,4,NaN,<NA>,...,NaN,<NA>,0.04,NaN,False,False,False,False,False,False
4,1929-08-29,33790,99999,1929,8,29,62.000000,4,56.299999,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
5,1929-11-02,38110,99999,1929,11,2,47.799999,4,44.000000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
6,1929-09-17,33790,99999,1929,9,17,55.700001,4,52.799999,4,...,NaN,<NA>,0.00,NaN,True,True,True,True,True,True
7,1929-12-07,30750,99999,1929,12,7,43.299999,4,41.799999,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
8,1929-08-26,34970,99999,1929,8,26,62.599998,4,56.000000,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
9,1929-12-19,37770,99999,1929,12,19,36.000000,4,28.799999,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
10,1929-10-27,38040,99999,1929,10,27,47.799999,5,42.299999,4,...,NaN,<NA>,0.39,NaN,False,False,False,False,False,False
11,1929-12-04,32620,99999,1929,12,4,46.599998,5,42.200001,4,...,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
12,1929-12-23,39800,99999,1929,12,23,39.200001,5,36.000000,4,...,NaN,<NA>,0.04,NaN,False,False,False,False,False,False
13,1930-10-06,33790,99999,1930,10,6,48.000000,4,47.000000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
14,1930-08-11,30050,99999,1930,8,11,57.200001,4,53.500000,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
15,1930-12-21,30260,99999,1930,12,21,43.200001,4,39.200001,4,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
16,1930-04-14,36010,99999,1930,4,14,46.799999,4,39.200001,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
17,1930-04-25,38640,99999,1930,4,25,49.500000,4,48.500000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
18,1930-07-14,39730,99999,1930,7,14,54.799999,4,48.500000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
19,1930-09-06,33960,99999,1930,9,6,61.500000,4,60.500000,4,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [3]:
import pandas as pd
import pandas_gbq as pdbq
df = pdbq.read_gbq("SELECT CONCAT(CAST(year AS STRING), '-', CASE WHEN month < 10 THEN CONCAT('0', CAST(month AS STRING)) ELSE CAST(month AS STRING) END, '-', CASE WHEN day < 10 THEN CONCAT('0', CAST(day AS STRING)) ELSE CAST(day AS STRING) END) AS date, * FROM `bigquery-public-data.samples.gsod` WHERE (year BETWEEN 2005 AND 2009) and (station_number BETWEEN 725300 AND 726300) ")
print(df.head())

Downloading:   0%|          |

/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2309: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2323: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
/home/olyadikan/anaconda3/envs/pythonProject/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2337: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)

Downloading: 100%|██████████|
         date  station_number  wban_number  year  month  day  mean_temp  \
0  2005-11-01          725464        99999  2005     11    1  61.200001
1  2005-07-27          725869        99999  2005      7   27  67.599998
2  2005-12-12          725940        99999  2005     12   12  47.200001
3  2005-03-05          725940        99999  2005      3    5  50.400002
4  2005-09-24          725525        99999  2005      9   24  85.099998

   num_mean_temp_samples  mean_dew_point  num_mean_dew_point_samples  ...  \
0                      4       28.000000                           4  ...
1                      4       39.700001                           4  ...
2                      4       41.299999                           4  ...
3                      4       46.000000                           4  ...
4                      4       61.700001                           4  ...

   min_temperature  min_temperature_explicit  total_precipitation  snow_depth  \
0              NaN                      <NA>                 0.00         NaN
1              NaN                      <NA>                 0.00         NaN
2              NaN                      <NA>                 0.00         NaN
3              NaN                      <NA>                 0.14         NaN
4              NaN                      <NA>                 0.00         NaN

     fog   rain   snow   hail  thunder  tornado
0  False  False  False  False    False    False
1  False  False  False  False    False    False
2  False  False  False  False    False    False
3  False  False  False  False    False    False
4  False  False  False  False    False    False

[5 rows x 32 columns]

### 2. Task 
From here you want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

In [4]:
df = pd.DataFrame(df)
df['date'] = pd.to_datetime(df['date'], yearfirst=True)
df = df[(df['station_number'] >= 725300) & (df['station_number'] <= 725330)]
df = df.sort_values(['station_number', 'date'], ascending=[True, True])
#print(df)

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

In [89]:
import numpy as np
import matplotlib as plt 

df = df.drop(['year', 'month', 'day'], axis=1)
df.describe()
df.columns

# absolutely no information in min_temperature and min_temperature_explicit columns, drop them
df = df.drop(['min_temperature', 'min_temperature_explicit'], axis=1)

# in snow_depth I see adequate to replace NaN values with 0.0
df['snow_depth'] = df['snow_depth'].fillna(0.0)

# because there is less then a thousand cases of information available for mean_station_pressure, there is sense in dropping that column
df = df.drop(['num_mean_station_pressure_samples', 'mean_station_pressure'], axis=1)

# I don't think that columns providing information on the number of samples are really needed as features, their useful information in numerical measures

df = df.drop(['num_mean_temp_samples', 'num_mean_dew_point_samples', 'num_mean_sealevel_pressure_samples', 
              'num_mean_visibility_samples', 'num_mean_wind_speed_samples'], axis=1)

# wban_number doesn't seem to give any predictive information
df = df.drop(['wban_number'], axis=1)

# the rest of numerical columns with missing data I decided to fill by interpolation within station_number

for col in ['mean_dew_point', 'mean_visibility', 'mean_wind_speed', 
            'mean_sealevel_pressure', 'max_sustained_wind_speed', 'max_gust_wind_speed',
            'max_temperature', 'total_precipitation']: 
    df[col] = df.groupby('station_number')[col].apply(lambda x : x.interpolate(limit_direction='both'))

#plot = df.groupby('station_number').plot(x = 'date', y = 'mean_sealevel_pressure', kind='scatter')
#df[df['mean_sealevel_pressure'].isna()]

# one of the stations misses data on mean_sealevel_pressure completely - hence, dropping the column
df = df.drop(['mean_sealevel_pressure'], axis=1)


#df['max_temperature_explicit'].describe()
#df[['max_temperature_explicit', 'max_temperature']]

# all the boolean columns turn into numerical

for col in ['max_temperature_explicit', 'fog', 'rain', 
            'snow', 'hail',
            'thunder', 'tornado']: 
    df[col] = df[col].replace({True: 1, False: 0})


# attempt to feature-engineer for time series data: adding time column
# and values of lag up to 3 for the snow (3-days memory should be sufficient to keep in 
# case of snowing prediction)

df['time'] = (df['date'] - pd.to_datetime('2005-01-01', yearfirst=True)).dt.days.astype('int') 

#print(df['time'])

df['snow_lag_1'] = df.groupby('station_number')['snow'].shift(1)
df['snow_lag_2'] = df.groupby('station_number')['snow'].shift(2)
df['snow_lag_3'] = df.groupby('station_number')['snow'].shift(3)

#print(df[['snow_lag_1', 'snow_lag_2', 'snow_lag_3']])
#print(df[df['date'] == '2005-01-02'])
df = df.dropna()
#print(df[df['date'] == '2005-01-04'])

             date  station_number  mean_temp  mean_dew_point  mean_visibility  \
3592   2005-01-04          725300  32.299999       29.400000              7.7
321636 2005-01-04          725305  32.700001       29.200001              6.9
361943 2005-01-04          725314  40.799999       39.200001              4.7
266335 2005-01-04          725315  37.400002       36.400002              2.8
206929 2005-01-04          725316  37.599998       36.900002              4.0
374768 2005-01-04          725317  39.400002       38.500000              4.0
210435 2005-01-04          725320  33.599998       32.599998              4.0
236561 2005-01-04          725326  28.799999       25.799999              6.3
269704 2005-01-04          725327  36.200001       34.700001              7.6
210546 2005-01-04          725330  37.299999       35.700001              6.4

        mean_wind_speed  max_sustained_wind_speed  max_gust_wind_speed  \
3592                9.3                      12.0            16.900000
321636              9.1                      13.0            28.900000
361943              5.7                       8.0            21.966667
266335              8.1                      12.0            30.900000
206929              8.0                      12.0            32.099998
374768              7.4                      14.0            23.500000
210435              6.2                       8.9            29.275000
236561              6.1                      11.1            24.325000
269704              6.3                       8.9            20.050000
210546              8.8                      14.0            26.000000

        max_temperature max_temperature_explicit  ...  fog  rain  snow  hail  \
3592          30.000000                        0  ...    1     1     1     1
321636        30.200001                        1  ...    1     1     1     1
361943        39.000000                        0  ...    0     0     0     0
266335        37.000000                        0  ...    1     1     1     1
206929        35.599998                        1  ...    1     1     1     1
374768        37.400002                        1  ...    1     1     1     1
210435        32.000000                        0  ...    1     1     1     1
236561        28.400000                        0  ...    0     0     0     0
269704        35.599998                        1  ...    0     0     0     0
210546        35.599998                        1  ...    1     1     1     1

        thunder  tornado  time  snow_lag_1  snow_lag_2  snow_lag_3
3592          1        1     3         1.0         1.0         0.0
321636        1        1     3         0.0         1.0         0.0
361943        0        0     3         0.0         0.0         0.0
266335        1        1     3         0.0         1.0         1.0
206929        1        1     3         0.0         1.0         1.0
374768        1        1     3         1.0         1.0         1.0
210435        1        1     3         1.0         1.0         1.0
236561        0        0     3         0.0         0.0         0.0
269704        0        0     3         1.0         1.0         1.0
210546        1        1     3         1.0         1.0         1.0

[10 rows x 22 columns]

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for should constitute your test set.

In [120]:
import datetime as dt

target_date = str(dt.datetime.today()- dt.timedelta(days=15*365+3)).split(' ')[0] # corrected a bit - through 15 years there were 3 additional days
target_date

'2009-07-02'

In [134]:

test_data = df[df['date'] == target_date]
#print(test_data)
df_wo_test = df[df['date'] < target_date]
#print(df_wo_test)

train = df_wo_test.drop(['date'], axis=1)

y_test = test_data['snow']
X_test = test_data.drop(['snow', 'date'], axis=1)
#test_features.columns

In [135]:
from sklearn.model_selection import train_test_split

frames_train = []
frames_val = []

for station in train['station_number'].unique():
    X = train[train['station_number'] == station]
    train_fr, val_fr = train_test_split(X, test_size=0.20, shuffle=False)
    frames_train.append(train_fr)
    frames_val.append(val_fr)

X_train = pd.concat(frames_train)
X_val = pd.concat(frames_val)

#print(X_val)

In [136]:
y_train = X_train['snow']
X_train = X_train.drop(['snow'], axis=1)
X_train = pd.get_dummies(X_train, columns=['station_number'], drop_first=True)

y_val = X_val['snow']
X_val = X_val.drop(['snow'], axis=1)
X_val = pd.get_dummies(X_val, columns=['station_number'], drop_first=True)

X_test = pd.get_dummies(X_test, columns=['station_number'], drop_first=True)
print(X_train.columns, X_val.columns, X_test.columns)

Index(['mean_temp', 'mean_dew_point', 'mean_visibility', 'mean_wind_speed',
       'max_sustained_wind_speed', 'max_gust_wind_speed', 'max_temperature',
       'max_temperature_explicit', 'total_precipitation', 'snow_depth', 'fog',
       'rain', 'hail', 'thunder', 'tornado', 'time', 'snow_lag_1',
       'snow_lag_2', 'snow_lag_3', 'station_number_725305',
       'station_number_725314', 'station_number_725315',
       'station_number_725316', 'station_number_725317',
       'station_number_725320', 'station_number_725326',
       'station_number_725327', 'station_number_725330'],
      dtype='object') Index(['mean_temp', 'mean_dew_point', 'mean_visibility', 'mean_wind_speed',
       'max_sustained_wind_speed', 'max_gust_wind_speed', 'max_temperature',
       'max_temperature_explicit', 'total_precipitation', 'snow_depth', 'fog',
       'rain', 'hail', 'thunder', 'tornado', 'time', 'snow_lag_1',
       'snow_lag_2', 'snow_lag_3', 'station_number_725305',
       'station_number_725314', 'station_number_725315',
       'station_number_725316', 'station_number_725317',
       'station_number_725320', 'station_number_725326',
       'station_number_725327', 'station_number_725330'],
      dtype='object') Index(['mean_temp', 'mean_dew_point', 'mean_visibility', 'mean_wind_speed',
       'max_sustained_wind_speed', 'max_gust_wind_speed', 'max_temperature',
       'max_temperature_explicit', 'total_precipitation', 'snow_depth', 'fog',
       'rain', 'hail', 'thunder', 'tornado', 'time', 'snow_lag_1',
       'snow_lag_2', 'snow_lag_3', 'station_number_725305',
       'station_number_725314', 'station_number_725315',
       'station_number_725316', 'station_number_725317',
       'station_number_725320', 'station_number_725326',
       'station_number_725327', 'station_number_725330'],
      dtype='object')

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=15*365+3)).split(' ')[0]

You are allowed to use any library you are comfortable with such as sklearn, tensorflow, keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.

In [142]:
#from sklearn.multioutput import MultiOutputClassifier
from sklearn.linear_model import LogisticRegressionCV

clf = LogisticRegressionCV(cv=5, max_iter=1500).fit(X_train, y_train) #MultiOutputClassifier(LogisticRegressionCV(cv=5), classes=(X_train['station_number'].unique())).fit(X_train, y_train)
train_score = clf.score(X_train, y_train)
val_score = clf.score(X_val, y_val)
test_score = clf.score(X_test, y_test)
print(train_score, val_score, test_score)

1.0 0.9996934396076027 1.0